.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px;
}

.button {
  background-color: rgb(118, 121, 120);
  display: flex;
  justify-content: center;
  width: 400px;
  height: 50px;
  align-items: center;
  font-size: 25px;
  color: azure;
  border-radius: 15px;
  user-select: none;
}

.button:hover {
  cursor: pointer;
  background-color: #525457;
  color: azure;
}

.button-field {
  display: flex;
  justify-content: center;
}

.canvas-field {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}